div.row
  div.col-lg-3
    h3.list-group-item-heading #{name}:#{group}
  div.col-lg-6
    span.list-group-item-text #{description}
  div.col-lg-3
    .dropdown.pull-right
      button.btn.dropdown-toggle(type="button", data-toggle="dropdown", class="btn-" + status)
        span #{statename}
        span.caret
      ul.dropdown-menu
        li(action="start")
          a Start
        li(action="stop")
          a Stop
        li.divider
        li(action="stdoutlog")
          a Standard Output Log
        li(action="stderrlog")
          a Standard Error Log
        li(action="clearlog")
          a Clear Logs
