.modal-dialog
  .modal-content
    .modal-header
        button.close(type="button" data-dismiss="modal" aria-hidden="true") 
        h4.modal-title Log
    .modal-body
        pre #{contents}
    .modal-footer
        button.btn.btn-default(type="button" data-dismiss="modal") Close
